* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: sans-serif;
}

.header {
    height: 90px;
    background-color: lightgreen;
    padding: 30px 25px;
}

.navigation {
    list-style: none;
}

.navigation li {
    float: left;
    margin: 10px;
}
